
body {
    padding-top: 70px;
    font-family: 'Segoe UI Light';
    font-size: 20px;
    color: #696666;
}

li {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}

p, label, a {
    font-size: 20px;
}

.mbotop {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary:visited, .btn-warning:visited, .btn-danger:visited, .btn-success:visited, .btn-info:visited, .btn-inverse:visited {
    color: #FFFFFF;
}

.img-moment {
    height: 30%;
    width: 100%;
    margin: 0 auto;
}
